/* ----------------------------------------
Base Styles
------------------------------------------- */
* {
	box-sizing: border-box;
}

body {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	text-transform: uppercase;
}

/* ----------------------------------------
Typography
------------------------------------------- */
/*TO ADD --> LATO: font-family: 'Lato', sans-serif;*/

a {
	text-decoration: none;
}
/* ----------------------------------------
Lists
------------------------------------------- */



/* ----------------------------------------
Layout
------------------------------------------- */

/* ----------------------------------------
Header
------------------------------------------- */
nav	{
	background-color: #fff;
}

nav li {
	display: inline-block;
}

nav a {
	font-weight: 600;
	padding: 10px 60px;
	letter-spacing: 0.75px;
	color: #7B98AA;
}

/* ----------------------------------------
Buttons
------------------------------------------- 


/* ----------------------------------------
Footer
------------------------------------------- */
